<div class="container" *ngIf="isUserCanWrite">
  <div class="toggle-graph">
    <!-- <mat-button-toggle-group (change)="onChange($event.value)">
      <mat-button-toggle value="pie">Pie</mat-button-toggle>
      <mat-button-toggle value="bar" checked="true">Bar</mat-button-toggle>
    </mat-button-toggle-group> -->
    <mat-form-field appearance="">
      <mat-label>בחר סטטיסטיקה</mat-label>
      <mat-select [(ngModel)]="selectedGraph" (selectionChange)="onChange($event.value)">
        <mat-option *ngFor="let graph of graphs" [value]="graph.value">
          {{graph.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <ng-container [ngSwitch]="graphType">
      <app-bar-graph *ngSwitchCase="'bar'" [graphType]="selectedGraph"></app-bar-graph>
      <app-pie-graph *ngSwitchCase="'pie'" [graphType]="selectedGraph"></app-pie-graph>
    </ng-container>

  </div>
</div>


