.action{
    position: absolute;
    bottom: 24px;
    right: 20px;
}
.group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80%;
    overflow: hidden;
}

.groups-select{
    height:385px;
    overflow-y: auto;
    padding: 15px 20px 0 0;
}

.example-spacer {
    flex: 1 1;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 0px;
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #3f51b5; }

.scrollbar-primary {
scrollbar-color: #3f51b5 #F5F5F5;
}

.mat-dialog-container {
    overflow-y:hidden !important;
}