<div class="task-list">
    <mat-toolbar class="title">
        <span>משימות מ: אפריקה</span>
        <span>שיוך: בנין כוח</span>
        <span>כמות משימות: 3</span>
    </mat-toolbar>

    <div class=card-list>
        <div  *ngFor="let item of tasks">
            <mat-card class="task" >
                <div routerLink="/task/{{item.id}}" class="text">
                    <mat-card-title>{{item.name}}</mat-card-title>
                    <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
                </div>
                <div>
                    <mat-card-actions>
                        <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="deleteTask(item)">
                                <mat-icon>delete_forever</mat-icon>
                                <span>מחק משימה</span>
                            </button>
                        </mat-menu>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
    <button mat-fab color="primary" class="add-button" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>