.task-list {
    width: 70%;
    margin: 30px auto;
}
.title {
    background-color:#DADADA;
    display: flex;
    justify-content: space-between;
    font-size:17px;
}

/* .card-list{
    display: flex;
    flex-direction: column;
} */

.task{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    cursor:pointer;
}

.add-button{
    position: fixed;
    left: 60px;
    bottom: 50px;
}
.text{
    width: 100%;
}:focus{
   outline: 0;  
}

.footer{
    display: flex;
    justify-content: space-between;
}

.count{
    padding: 10px 0 0 0 ;
}

.task-title {
}

.icon-empty {
    color: #AAAAAA;
    text-align: center;
    font-size: 140px;
    width: 140px;
    height: 140px;
    cursor: default;
}

.div-empty {
    position:relative;
    top:150px;
    height:400px;
    text-align: center;
}

.span-empty {
    font-family: Arial;
    text-align:center;
    font-size: 20px;
    color: #AAAAAA;
}