.form-task {
    overflow: unset;
    width: 100%;
    text-align: center;
    position: relative;
    top: 20px;
}

mat-form-field {
    width: 100%;
}

.example-spacer {
    flex:1 1 auto;
}

form {
    margin: 0px 40px;
}