.rotate {
    display: inline-block;
    transform: rotate(90deg);
}

.special-fix {
    align-items: flex-end !important;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64,64,64);
    border-top: 1px white solid;
    border-bottom:1px white solid;
    color:white;
    min-width: 68px;
    flex: 4%;
    border-radius: 0;
    transition: 0.2s;
}

.vertical-align-special {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64,64,64);
    border-top: 1px white solid;
    border-bottom:1px white solid;
    color:white;
    min-width: 68px;
    flex: 4%;
    border-radius: 0;
    transition: 0.2s;
}

.vertical-align:hover {
    transition: 0.2s;
    background-color: rgba(64,64,64,0.91);
}

.main-div {
    margin:10px 50px 0px 50px;
    font-family:'arial';
}

.secondary-div-title {
    display:flex;
    height:57px;
}

.secondary-div-first {
    display:flex;
    height:374px;
}

.secondary-div-second {
    display:flex;
    height:280px;
}

.secondary-div-third {
    display:flex;
    height:70px;
}

.secondary-div-fourth {
    display: flex;  height:110px;
}

.title-view {
    position: relative;
    flex: 96%;
    background-color: rgba(50,50,50,0.2);
    overflow-x:auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.first-view {
    flex: 96%;
    background-color: rgba(0,87,0,0.2);
    overflow-x:auto;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.second-view {
    flex: 96%; background-color: #DBDBDB; overflow-y:auto
}

.third-view {
    flex: 96%;
    background-color: rgba(0,0,255, 0.04);
    display:flex;
    justify-content: center;
    align-items: center;
   /* border-left: 1px solid rgba(0,0,0, 0.1);*/
    flex-wrap: wrap;
    overflow-x: auto;
}

.fourth-view {
    flex: 96%;
    background-color: rgba(0, 0, 255, 0.11);
    display:flex;
    flex-wrap: wrap;
    overflow-y:auto;
}

.first-tasks-main {
    width:250px;
    height:350px;
    margin:10px 0px;
    border: 2px solid black;
    display:inline-block;
    text-align: center;
    background-color: rgb(49, 137, 61);
    color:white;
    transition: 0.2s;
}

.first-tasks-main:hover {
    transition: 0.2s;
    background-color: rgba(49, 137, 61, 0.9);
}

.second-tasks-main {
    display:flex;
    flex-wrap: wrap;
    overflow-y: auto;
    flex-direction: column;
}

.third-tasks-main {
    flex-grow: 1;
    background-color: rgba(0,0,255,0.1);
    margin: 10px;
    padding: 11px;
    text-align: center;
    color:black;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s;
}

.third-tasks-main:hover {
    background-color: rgba(0,0,255,0.06);
    transition: 0.2s;
}

.fourth-tasks-main {
    margin:5px;
    padding:9px;
    background-color: rgb(39, 107, 158);
    color:white;
    text-align: center;
    flex:30%;
    display: flex;
    justify-content: center;
    height:25px;
    cursor: pointer;
    transition: 0.2s;
}

.fourth-tasks-main:hover {
    background-color: rgba(39, 107, 158, 0.91);
    transition: 0.2s;
}

.first-tasks-names {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:17px;
    min-width:250px;
}

.second-tasks-names {
    color: white;
    margin: 3px 3px 0px 3px;
    padding: 12px;
    background-color: rgb(59,170,236);
    border-radius: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 20px;
    text-align: center;
    border-left: 1px solid rgba(0,0,0,0.24);
    border-right: 1px solid rgba(0,0,0,0.24);
    border-top: 1px solid rgba(0,0,0,0.24);
    cursor:pointer;
    transition: 0.2s;
}

.second-tasks-names:hover {
    background-color: rgba(59,170,236, 0.91);
    transition: 0.2s;
}

.first-subtasks-main {
    height: 300px;
    max-height:300px;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
}

.second-subtasks-main {
    display: flex;
    flex-direction: row;
}

.first-subtasks-secondary {
    text-align: center;
    margin: 2px 20px;
    padding: 7px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 7px;
    transition: 0.2s;
}

.first-subtasks-secondary:hover {
    transition: 0.2s;
    background-color: rgba(255,255,255,0.85);
}


.second-subtasks-secondary {
    flex-grow:1;
    text-align:center;
    margin: 0px 3px 2px 3px;
    padding:11px;
    background-color: rgb(33, 171, 157);
    color: white;
    border-left:1px solid rgba(0,0,0,0.24);
    border-right: 1px solid rgba(0,0,0,0.24);
    border-bottom: 1px solid rgba(0,0,0,0.24);
    cursor:pointer;
    transition: 0.2s;
}

.second-subtasks-secondary:hover {
    background-color: rgba(33,171,157,0.91);
    transition: 0.2s;
}

.spinner-cls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
    min-height: 300px;
}

::-webkit-scrollbar {
    height: 6px; /* height of horizontal scrollbar ← You're missing this */
    width: 6px; /* width of vertical scrollbar */
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

.errImg {
    width:51%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
}

.mat-form-field {
    position: relative !important;
    top: 8px !important;
}