<div class="img-container" *ngIf="isError">
   <img class="errImg" [src]="errorImg"/>
</div>

<div class="spinner-cls" *ngIf="!finishedLoading && !isError">
    <mat-spinner></mat-spinner>
</div>
<div class="main-div" *ngIf="finishedLoading">
    <div class="secondary-div-title">
        <button mat-button class="vertical-align-special" (click)="taskStatistics({_id: defaultParentNew, name: fullAmanName, ancestors: []});" style="border-top: initial !important; border-bottom:initial !important;">
            <span>{{ fullAmanName }}</span>
        </button>
        <div class="title-view">
            <button mat-icon-button (click)="$event.stopPropagation(); showTableChart();"  matTooltip="הצגת גרף Treemap" matTooltipPosition="above">
                <mat-icon>table_chart</mat-icon>
            </button>
            <mat-progress-bar mode="indeterminate" style="position: absolute; top: 0;" *ngIf="secondaryLoading"></mat-progress-bar>
            <mat-form-field style="margin-right: 20px; flex:10%;">
                <mat-label style="font-family:'system-ui';">בחירת חודש</mat-label>
                <mat-select [(ngModel)]="selectedDateFilter" (selectionChange)="changeDateFilter()" [disabled]="secondaryLoading" style="font-family:'system-ui';">
                    <mat-option *ngFor="let dateFilter of dateFilters" [value]="dateFilter" style="font-family:'system-ui';">
                        {{ dateFilter }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-right: 20px;flex:10%;">
                <mat-label>יחידה</mat-label>
                <mat-select [(ngModel)]="selectedUnitFilter" (selectionChange)="changeUnitFilter()" [disabled]="secondaryLoading">
                    <mat-option *ngFor="let unitFilter of unitFilters" [value]="unitFilter.kartoffelID">
                        {{ unitFilter.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span style="flex:55%; font-weight:bold; font-size:22px;">
                פילוח כ"א ב{{ selectedUnitFilterName }} - {{ mainFullSize ? mainFullSize.toFixed(0) : 0 }} משרתים
            </span>
            <div style="flex:25%"></div>
        </div>
    </div>
    <div class="secondary-div-first">
        <button mat-button class="vertical-align" (click)="taskStatistics({_id: forceOpTasks._id, name: forceOpTasks.name, ancestors: [defaultParentNew]});">
            <div class="" style="color: white; font-weight: bold; z-index:1; position: absolute; top:-3px; width:100%; left:0;">
                <span style="font-size:12px; position:relative; bottom:3px; right:0px;">
                    {{ (fullSize !== 0) ? (forceOpTasks.value * 100 / fullSize).toFixed(1).replace('.0', '') : 0 }}%
                </span>
            </div>
            <span class="rotate">{{ forceOpTasks.name }}</span>
        </button>
        <div class="first-view">
            <div (click)="taskStatistics(currOpTask);" class="first-tasks-main" *ngFor="let currOpTask of forceOpTasks.children" style="cursor:pointer; position:relative;">
                <div style="position:absolute; right:2px; top:-2px; color: white; font-weight: 500;">
                    <span style="font-size:12px; position:relative; bottom:0px; right:2px;">{{ (forceOpTasks.value !== 0) ? (currOpTask.value * 100 / forceOpTasks.value).toFixed(2).replace('.00', '') : 0 }}%</span>
                </div>
                <div style="display: flex; justify-content: center;">
                    <div style="flex: 15%;"></div>
                    <div class="first-tasks-names" style="overflow-y: auto; flex-wrap: wrap; flex:40%"> {{ currOpTask.name }} </div>
                    <div *ngIf="currOpTask.image" style="flex:30%;">
                        <img height="37" width="64" [src]="currOpTask.image" style="position: relative; top: 7px; left: 4px; border: 1px solid black;"/>
                    </div>
                    <div style="flex: 15%"></div>
                </div>
                
                <div class="first-subtasks-main">
                    <div *ngIf="currOpTask.children.length === 0" style="height:32px;"></div>
                    <button (click)="$event.stopPropagation(); taskStatistics(currOpSubTask);" mat-button class="first-subtasks-secondary" *ngFor="let currOpSubTask of currOpTask.children" [matTooltip]="currOpSubTask.name" matTooltipPosition="above">
                        <div style="position:absolute; right:2px; top:-5px; color: #6a6a6a; ">
                            <span style="font-size:12px; position:relative; bottom:5px; right:2px;">{{ currOpSubTask.value.toFixed(2).replace('.00', '') }}</span>
                        </div>
                        <div style="max-width: 100%;overflow: hidden;text-overflow: ellipsis; font-family: 'system-ui'; font-weight: 400;">{{ currOpSubTask.name }}</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="secondary-div-second">
        <button mat-button class="vertical-align" (click)="taskStatistics({ _id: buildForceTasks._id, name: buildForceTasks.name, ancestors: [defaultParentNew]});">
            <div class="" style="color: white; font-weight: bold; z-index:1; position: absolute; top:-3px; width:100%; left:0;">
                <span style="font-size:12px; position:relative; bottom:3px; right:0px;">{{ (fullSize !== 0) ? (buildForceTasks.value * 100 / fullSize).toFixed(1).replace('.0', '') : 0 }}%</span>
            </div>
            <span class="rotate">{{ buildForceTasks.name }}</span>
        </button>
        <div class="second-view">
            <div class="second-tasks-main" *ngFor="let currBuildTask of buildForceTasks.children" style="position:relative;">
                <div *ngIf="currBuildTask.children.length !== 0" style="position:absolute; right:6px; top:2px; color: white; font-weight: bold; z-index:1;">
                    <span style="font-size:12px; position:relative; bottom:1px; right:1px;">{{ (buildForceTasks.value !== 0) ? (currBuildTask.value * 100 / buildForceTasks.value).toFixed(2).replace('.00', '') : 0 }}%</span>
                </div>
                <div *ngIf="currBuildTask.children.length !== 0" matRipple class="second-tasks-names" style="font-family: 'system-ui';" (click)="taskStatistics(currBuildTask)">
                    {{ currBuildTask.name }}
                </div>
                <div class="second-subtasks-main">
                    <div matRipple class="second-subtasks-secondary" *ngFor="let currSubBuildTask of currBuildTask.children" (click)="taskStatistics(currSubBuildTask)">
                        <div style="position:absolute; right:6px; top:2px; color: white; font-weight: bold; z-index:1;">
                            <span style="font-size:12px; position:relative; bottom:5px; left: 2px; font-family: 'system-ui';">{{ currSubBuildTask.value.toFixed(2).replace('.00', '') }}</span>
                        </div>
                        {{ currSubBuildTask.name }}
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: row;">
                <div *ngFor="let emptyBuildTask of buildForceEmptyTasks" style="position: relative;flex-grow: 1;">
                    <div matRipple class="second-tasks-names" style="flex-grow: 1;">
                        <div style="position:absolute; right:6px; top:2px; color: white; font-weight: bold; z-index:1;">
                            <span style="font-size:12px; position:relative; bottom:1px; right:1px;">{{ (buildForceTasks.value !== 0) ? (emptyBuildTask.value * 100 / buildForceTasks.value).toFixed(2).replace('.00', '') : 0 }}%</span>
                        </div>
                        <div matRipple style="font-family: 'system-ui';" (click)="taskStatistics(emptyBuildTask)">
                            {{ emptyBuildTask.name }}
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- <div class="secondary-div-third">
        <button mat-button class="vertical-align" (click)="taskStatistics({_id: widthTasks._id, name: widthTasks.name, ancestors: [defaultParentNew]});">
            <div class="" style="color: white; font-weight: bold; z-index:1; position: absolute; top:-3px; width:100%; left:0;">
                <span style="font-size:12px; position:relative; bottom:3px; right:0px;">{{ (fullSize !== 0) ? (widthTasks.value * 100 / fullSize).toFixed(1).replace('.0', '') : 0 }}%</span>
            </div>
            <span class="rotate" style="position:relative; top: 4px;">{{ widthTasks.name }}</span>
        </button>
        <div class="third-view">
            <div matRipple class="third-tasks-main" *ngFor="let currWidthTask of widthTasks.children" (click)="taskStatistics(currWidthTask);">
                <div style="position:absolute; right:2px; top:-3px; color: #6a6a6a; font-weight: bold;">
                    <span style="font-size:12px; position:relative; bottom:2px; right:0px;">{{ (widthTasks.value !== 0) ? (currWidthTask.value * 100 / widthTasks.value).toFixed(2).replace('.00', '') : 0}}%</span>
                </div>
                {{ currWidthTask.name }}
            </div>
        </div>
    </div> -->
    <div class="secondary-div-fourth">
        <button mat-button class="vertical-align" (click)="taskStatistics({_id: wrapTasks._id, name: wrapTasks.name, ancestors: [defaultParentNew]});">
            <div class="" style="color: white; font-weight: bold; z-index:1; position: absolute; top:-3px; width:100%; left:0;">
                <span style="font-size:12px; position:relative; bottom:3px;">{{ (fullSize !== 0) ? (wrapTasks.value * 100 / fullSize).toFixed(1).replace('.0', '') : 0 }}%</span>
            </div>
            <span class="rotate">{{ wrapTasks.name }}</span>
        </button>
        <div class="fourth-view">
            <div matRipple class="fourth-tasks-main" *ngFor="let currWrapTask of wrapTasks.children" (click)="taskStatistics(currWrapTask)">
                <div style="position:absolute; right:4px; top:0px; color: white; font-weight: bold; z-index:1;">
                    <span style="font-size:12px; position:relative; bottom:3px; right:0px;">{{ (wrapTasks.value !== 0) ? (currWrapTask.value * 100 / wrapTasks.value).toFixed(2).replace('.00', '') : 0 }}%</span>
                </div>
                {{ currWrapTask.name }}
            </div>
        </div>
    </div>
</div>