<mat-toolbar>
    <mat-toolbar-row>
      <span>יצירת תת משימה</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content class="form-task">
    <form autocomplete="off">
        <mat-form-field>
            <mat-label>שם המשימה:</mat-label>
            <input matInput [(ngModel)]=data.name  [ngModelOptions]="{standalone: true}" cdkFocusInitial> 
    </mat-form-field>

<mat-form-field>
    <mat-label>תיאור המשימה:</mat-label>
    <textarea matInput [(ngModel)]=data.description  [ngModelOptions]="{standalone: true}"></textarea>
  </mat-form-field>

</form>
<div mat-dialog-actions>
    <button style="font-weight:bold; position:relative; right: 5px;" mat-button color="primary" [mat-dialog-close]="data">הוסף</button>
    <button style="font-weight:bold; position:relative; right: 5px;" mat-button color="warn" (click)="close()">ביטול</button>
</div>
</div>
