<div style="background-color: white;box-shadow: 0 0 4px -1px; margin: 30px;">
    <!--First Card-->
    <div style="display: flex;height: 400px;text-align: center;justify-content: center;">
        <div style="flex:25%; border-left:1px solid #EAEAEA; min-width: 205px">
            <mat-form-field style="position: relative; top:30px;">
                <mat-label>פילוח לפי</mat-label>
                <mat-select [(ngModel)]="selectedFilterBy" (selectionChange)="setGraphValues()">
                    <mat-option *ngFor="let currFilter of filterBy" [value]="currFilter.id">
                        {{ currFilter.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field style="position: relative; top:30px;">
                <mat-label>סוג סטטיסטיקה</mat-label>
                <mat-select [(ngModel)]="selectedStatisticsType" [disabled]="selectedFilterBy === 'UnitTaskCount'" (selectionChange)="setGraphValues()">
                    <mat-option *ngFor="let currStatisticsType of statisticsType" [value]="currStatisticsType.id">
                        {{ currStatisticsType.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <div style="position:relative;top:70px">
                <span *ngFor="let currTaskType of taskTypes">
                <button color="primary" (click)="changeStats(currTaskType)" mat-raised-button style="margin: 10px 0; font-weight: bold; width: 120px;">
                    {{ currTaskType.name }}
                </button><br>
                </span>
            </div>
        </div>
        <div style="flex:75%; width:0;">
            <app-bar-graph (dblClick)="dblClickChange($event)" (oneClick)="oneClickChange($event)" [graphType]="barGraphType" getFromDashboard="true" [name]="mainBarName" [id]="mainBarId" ></app-bar-graph>
        </div>
    </div>
    <!--Second Card-->
    <div style="display: flex;height: 400px;text-align: center;justify-content: center;">
        <div style="flex: 25%;border-left:1px solid #EAEAEA; border-top:1px solid #EAEAEA; min-width: 205px">
            <app-pie-graph graphType="UnitSum" [name]="pieName" [id]="pieId" getFromDashboard="true"></app-pie-graph>
        </div>
        <div style="flex: 75%; border-top:1px solid #EAEAEA; width:0;">
            <app-secondary-bar-graph [graphType]="barGraphType" getFromDashboard="true" [name]="secondaryBarName" [id]="secondaryBarId"></app-secondary-bar-graph>
        </div>
    </div>
</div>