<div style="background-color: white;box-shadow: 0 0 4px -1px; margin: 30px;">
    <!--First Card-->
    <div style="display: flex;height: 420px;text-align: center;justify-content: center;">
        <div style="flex:25%; border-left:1px solid #EAEAEA;">
            <mat-form-field style="position: relative; top:30px;">
                <mat-label>פילוח לפי</mat-label>
                <mat-select>
                <mat-option *ngFor="let food of ['יחידות','משימות']" [value]="food">
                    {{food}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field style="position: relative; top:30px;">
                <mat-label>סוג סטטיסטיקה</mat-label>
                <mat-select>
                <mat-option *ngFor="let food of ['כמות אנשים', 'כמות אנשים לפי סוגי שירות', 'כמות אנשים לפי תקנים']" [value]="food">
                    {{food}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <div style="position:relative;top:70px">
                <span *ngFor="let currTaskType of taskTypes">
                <button color="primary" (click)="changeStats(currTaskType)" mat-raised-button style="margin: 10px 0; font-weight: bold; width: 120px;">
                    {{ currTaskType.name }}
                </button><br>
                </span>
            </div>
        </div>
        <div style="flex:75%;"></div>
    </div>
    <!--Second Card-->
    <div style="display: flex;height: 400px;text-align: center;justify-content: center;">
        <div style="flex: 25%;border-left:1px solid #EAEAEA; border-top:1px solid #EAEAEA;">
            <app-pie-graph graphType="UnitSum"></app-pie-graph>
        </div>
        <div style="flex: 75%; border-top:1px solid #EAEAEA;"></div>
    </div>
</div>